<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <nav>
            <ul class="items">
                <li>
                    <a href="/shop.html" class="itemliste-active">Home</a>
                </li>
                <li>
                    <a href="/shop/product-body" class="itemlist">Add Product</a>
                </li>

            </ul>

        </nav>

    </header>
    <div class="main">

        <p>
            welcome to our shopping website
        </p>
        <img src="/207-2071965_shopping-mulher-fashion-png.png" alt="" id="shopinglady">
    </div>
    <footer>
        <li>
            <a href="/shop/contact">Contact us</a>
        </li>
    </footer>
</body>

</html>